.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 2rem;
}

.login .form {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 480px;
  padding: 0.5rem;
}

.login .field {
  padding-bottom: 0.5rem;
}

.login .field label {
  display: block;
}

.login .field input {
  width: 100%;
}

.login .actions {
  text-align: center;
  margin-top: 0.5rem;
}
.login .actions .sign{
  margin-left: .5rem;
  border: #000 solid 1px;
  padding: 1px 5px;
  border-radius: 3px;
  color: black;
}
.login .actions .sign:hover{
  background-color: rgb(242, 239, 239);
}